/*Fonts files*/
.r-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.r-reg {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.r-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

/*Base Colors*/
@dark-grey: #191919;
@light-grey: #383838;
@base-text: #333;
@text-grey: #ccc;
@bgck-grey: #ddd;
@base-red: #bf3e41;
@logo-red: #ff1920;
@black: #000;
@white: #fff;

/*Base Settings*/
html {
	font-size: 100%;
}
body {
	.r-reg;
	color: @base-text;
	margin: 0 auto;
	padding: 0;
	background: #1f1f1f url(../img/bgck-img.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

}
input, button, textarea{
	&:focus {
	outline: none;
	}
}
a:hover {
	text-decoration: none;
}
.shadow{
	-webkit-box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.67);
	 -moz-box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.67);
	 box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.67);
}
.no_padding {
	padding: 0;
}
.clear {
		clear:both;
}
/*Header*/
#main {
	position: relative;
	z-index: 2;
}
.main {
	background-color: @black;
	padding-top: 1.875em; /*30px/16px*/
	padding-bottom: 1.875em; /*30px/16px*/
	position: relative;
	z-index:1;
	&_logo{
		img {
			margin:0 auto;
			display: block;
		}
	}
	&_info {
		&_short {
			&_phone {
				p {
					.r-bold;
					color: @text-grey;
					font-size: 1.2857142857em; /*18px/14px*/
					line-height: 1em; /*18px/18px*/
					margin: 0 0 10px;
				}
				a {
					color: @text-grey;
					font-size: 1em; /*14px/14px*/
					line-height: 1.25em; /*20px/16px*/
					text-decoration: underline;
					.r-light;
					i {
						margin-right: 5px;
					}
					.no-touchevents &:hover,.touchevents &:active {
						color: @white;
					}
				}
			}
			&_time {
				p {
					color: @text-grey;
					font-size: 1.1428571429em; /*16px/14px*/
					margin-bottom: 0.625em; /*10px/16px*/
					line-height: 1.125em; /*18px/16px*/
					.r-light;
				}
			}
		}
	}
	&_search {
		margin-top: 1.4285714286em; /*20px/14px*/
		&_input {
			height: 2.1428571429em; /*30px/14px*/
			width: 80%;
			margin: 0;
			border: none;
			padding-left: 10px;
			background-color: @text-grey;
		}
		&_button {
			height: 2.1428571429em; /*30px/14px*/
			width: 19%;
			border-radius: 0px;
			padding: 0;
			margin: 0 0 0 -1%;
			border: none;
			background-color: @base-red;
			color: @white;
			.no-touchevents &:hover,.touchevents &:active {
				background-color: @logo-red;
			}

			
		}
	}
	&_basket {
		display: table;
		background-color: @light-grey;
		padding:1.3571428571em 2.8571428571em; /*19px/14px 40px/14px*/
		color: @text-grey;
		font-size: 1em; /*14px/1px*/
		border: 1px solid @light-grey;
		.r-light;
		margin: 0 auto;
		p {
			display: table;
		}
		a {
			color: @text-grey !important;
		}
		&_ico {
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background-color: @base-red;
			padding-top: 30px;
			margin-top: -30px;
			margin-left: -70px;
			position: absolute;
			top: 50%;
			img {
				display: block;
				margin: -13px auto 0;
			}
		}
		&_name {
			font-size: 1.4285714286em; /*20px/14*/
			color: @text-grey;
			.r-bold;
			display: table;
			}
		&_number {
			color: @white;
			font-size: 1.2857142857em; /*18px/14px*/
			.r-bold;
		}
		&_quantity {
			margin: 0;
		}
		.no-touchevents &:hover,.touchevents &:active {
			color: @text-grey;
			background-color: @dark-grey;
			p.main_basket_ico {
				background-color: @logo-red;
			}
		}
		.touchevents &:hover,.no-touchevents &:visited {
			
			color: @text-grey;
			
		}
		
	}
	&_menu {
		position: relative;
		z-index:1;
		div {
			padding:0;
		}
		ul
		&_item {
			list-style-type: none;
			width: 20%;
			height: 60px;
			border-right: 1px solid @black;
			a {
				display: table;
				height: 100%;
				width: 100%;
				line-height: 60px;
				background-color: @dark-grey;
				text-transform: uppercase;
				.r-light;
				color: @text-grey;
				font-size: 1.1428571429em; /*16px/14px*/
				.no-touchevents &:hover,.touchevents &:active {
					background-color: @light-grey;
				}
				p {
					margin: 0;
					margin-top: 10px;
					line-height: 20px;
					display: table-cell;
					vertical-align: middle;
				}
				span {
					display: block;
					
				}
				&.now{
					background-color: @light-grey;
					color: @white;
					.r-reg;
				}
			}
			&:last-child {
					border-right: none;
				}
		}
	}
}

/*Menu button*/
.line {
	display: block;
	width: 40px;
	height: 4px;
	background-color: @text-grey;
	position: absolute;
	right: 0;
	top: 50%;
	--webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	&:before, &:after {
		content: '';
		width: 40px;
		height: 4px;
		background-color: @text-grey;
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	&:before {
		--webkit-transform: translateY(-12px);
		-ms-transform: translateY(-12px);
		-o-transform: translateY(-12px);
		transform: translateY(-12px);
	}
	&:after {
		--webkit-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
		transform: translateY(8px);
	}
}

.close_nav,.main_nav_bar {
	display: none;
}

.main {
	&_nav {
		text-align: right;
		position: absolute;
		top: 0;
		margin-top: 30px;
		margin-right: 26px;
		right: 0;
		z-index: 3;
		display: table;
		.no-touchevents &:hover,.touchevents &:active {
			.line, .line:after, .line:before {
				background-color: @white;
			}
		}
		&_bar {
			position: relative;
			float: right;
			text-align: center;
			width: 40px;
			height: 55px;
		}
		.close_nav {
			display: none;
			font-size: 50px;
			line-height: 55px;
			color: @text-grey;
			position: relative;
			float: right;
			text-align: center;
			width: 40px;
			height: 55px;
			margin-top: -20px;
			text-decoration: none;
			.no-touchevents &:hover,.touchevents &:active {
				color: @white;
			}
		}
	}
}

/*CONTENT*/
.content {
	background-color: @bgck-grey;
	position: relative;
	z-index: 1;
	padding-bottom: 6.25em;
	.first_screen {
		background-color: @black;
		padding: 2.1428571429em  0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.category {
		padding: 0;
		ul {
			list-style: none;
			margin: 0; /*30px/14px*/
			width: 100%;
			padding: 0;
			font-size: 1.1428571429em; /*16px/14px*/
			.r-reg;

		}
		&_name {
			text-transform: uppercase;
			display: block;
			background-color: @base-red;
			padding: 1.0714285714em 0px 1.0714285714em 1.0714285714em; /*15px/14px*/
			color: @white;
		}
		&_item {
			a {
				color: @text-grey;
				width: 100%;
				height: 100%;
				display: block;
				padding: 0.8em 0px 0.8em 1.0714285714em; /*15px/14px*/
				border-bottom: 1px solid @bgck-grey;
				background-color: @dark-grey;
				.no-touchevents &:hover,.touchevents &:active {
					background-color: @light-grey;
					color: @white;
				}
			}
			&:last-child {
				a {
					border-bottom: none;
				}
			}
		}
	}
	.slider {
		padding: 0 3%;
		.fotorama__dot {
		    border: none;
		    background-color: @white;
		    border-radius: 15px;
		    display: block;
		    height: 15px;
		    left: 6px;
		    position: relative;
		    top: 12px;
		    width: 15px;
		    padding-right: 10px;
		}
		.fotorama__nav__frame.fotorama__active .fotorama__dot {
		    border: none;
		    height: 15px;
		    width: 15px;
		    background-color: @base-red;
		}
		.fotorama__arr--prev {
			background: rgba(0, 0, 0, 0) url("../img/fotorama.png") no-repeat scroll 0 0;
			height: 60px;
		    margin-top: -30px;
		    position: absolute;
		    top: 50%;
		    width: 60px;
		    left: 20px;
		    &:hover {
				background: rgba(0, 0, 0, 0) url("../img/fotorama.png") no-repeat scroll 0 100%;
		    }
		}
		.fotorama__arr--next {
			background: rgba(0, 0, 0, 0) url("../img/fotorama.png") no-repeat scroll 100% 0;
			height: 60px;
		    margin-top: -30px;
		    position: absolute;
		    top: 50%;
		    width: 60px;
		    right: 20px;
		    &:hover {
		    	background: rgba(0, 0, 0, 0) url("../img/fotorama.png") no-repeat scroll 100% 100%;
		    }
		}
		.fotorama__stage__frame {
		    border: 1px solid @dark-grey;
		}
	}
	.main_sale, .popular{
		&_bgck {
			background-color: @white;
		}
		&_message {
			margin: 20px auto;
			min-height: 100%;
		}
		
		&_name {
			height: 60px;
			margin: 6.25em 0 1.875em 0; /*100px/16px 30px/16px*/
			display: block;
			background-color: @dark-grey;
			text-transform: uppercase;
			color: @text-grey;
			line-height: 60px;
			font-size: 1.1428571429em; /*16px/14px*/
		}
		&_img {
			&_wrapper {
				height: 300px;
				overflow: hidden;
				background: @black url(../img/sale.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}	
		}
		&_value {
			.r-bold;
			font-size: 4.2857142857em; /*60px/14px*/
			color: @logo-red;
		}
		&_title {
			text-transform: uppercase;
			font-size: 1em; /*14px/14px*/
			display: table;
			margin: -10px auto 15px auto;
			padding: 0 15px;
			background-color: @white;
			&_line {
				border-color: @base-text;
				width: 14.2857142857em; /*200px/14px*/
				margin: 0 auto;
			}
		}
		&_text {
			.r-bold;
			color: @logo-red;
			font-size: 1.4285714286em; /*20px/14px*/
			text-transform: uppercase;
			margin-bottom: 0;
			&_descr {
				text-transform: uppercase;
				font-size: 0.8571428571em; /*12px/14px*/
				margin-bottom: 30px;
				span {
					.r-bold;
					color: @logo-red;
				}
			}
		}
		&_button {
			text-transform: uppercase;
			border: 1px solid @dark-grey;
			text-align: center;
			line-height: 3.5714285714em; /*50px/14px*/
			padding: 1.0714285714em 4.2857142857em; /*15px/14px 60px/14px*/
			color: @base-text;
			z-index:-100;
			font-size: 1.1428571429em; /*16px/14px*/
			.no-touchevents &:hover,.touchevents &:active {
				background-color: @dark-grey;
				color: @white;
			}
		}

	}
}

.popular {
	&_slider {
		position: relative;
		margin-top: -20px;
		.slick-list {
			margin: 0 7%;
		}
	}
		&_goods {
			&_item {
				margin: 0 0.65%;
				&_bgck {
					background-color: @white;
					padding: 5% 1% 10%;
					position: relative;
					margin-top: 20px;
					.no-touchevents &:hover,.touchevents &:active {
						-webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
						 -moz-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
						 box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
					}
					.touchevents &:hover {
						outline: none;
					}
				}
				&_more {
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					margin: 0;
					padding: 0;
					.touchevents &:hover {
						outline: none;
					}
					}
				img {
					height: 150px;
					margin: 10px auto 5% auto;
					display: block;
				}
				&_descr {
					display: block;
					text-align: center;
					overflow: hidden;
					height: 35px;
					font-size: 1em; /*14px/14px*/
					margin: 10px auto 0 auto;
					width: 100%;
				}
				&_price {
					display: table;
					margin: 5% auto;
				}
				&_current_price {
					font-size: 1.7142857143em; /*24px/14px*/
					.r-bold;
					color: @dark-grey;
					float: left;
					display: table;
					margin: 0 auto 0 30px;
				}
				&_sale {
					font-size: 1em; /*14px/14px*/
					color: @logo-red;
					float: left;
					margin-top: 7px;
					margin-left: 5px;
					margin-bottom: 0;
				}
				&_prev_price {
					display: table;
					margin: 0 auto;
					text-decoration: line-through;
				}
				&_button {
					font-size: 1.1428571429em; /*16px/14px*/
					color: @white;
					.r-bold;
					display: block;
					line-height: 40px;
					text-align: center;
					width: 150px;
					height: 40px;
					background-color: @base-red;
					position: relative;
					bottom: 0;
					left: 50%;
					margin: -20px auto 0 -75px;
					.no-touchevents &:hover,.touchevents &:active {
						color: @white;
						background-color: @logo-red;
					}
					.touchevents &:hover {
						color: @white;
						outline: none;
					}

				}
			}
		}
}

.right_arrow {
		position: absolute;
		top:50%;
		margin-top: -32.5px;
		right: 0;
		height: 65px;
		width: 34px;
		content: '';
		background-image: url(../img/popular_arrow.png);
		background-repeat: no-repeat;
	  background-position: -102px 0;
	  z-index:2;
	  .no-touchevents &:hover,.touchevents &:active {
	  	background-position: -68px 0;
	  }
}

.left_arrow {
		position: absolute;
		top:50%;
		margin-top: -32.5px;
		left: 0;
		height: 65px;
		width: 34px;
		content: '';
		background-image: url(../img/popular_arrow.png);
		background-repeat: no-repeat;
		background-image: url(../img/popular_arrow.png);
		background-repeat: no-repeat;
	  background-position: 0 0;
	  z-index:2;
		  .no-touchevents &:hover,.touchevents &:active {
		  	background-position: -34px 0;
		  }
}

/*Footer*/
footer {
	.container {
			background-color: @black;
			padding: 40px;
			.r-light;
			color: @text-grey;
			font-size: 1.1428571429em; /*16px/14px*/
	}
	p{
		margin-bottom: 5px;
	}
	.footer {
		&_menu,&_phones, &_name, &_social {
			margin: 0 auto;
			display: table;
			margin-bottom: 40px;
		}
		&_menu {
			a {
				color: @text-grey;
				text-decoration: underline;
				.no-touchevents &:hover,.touchevents &:active {
					color: @light-grey;
				}
			}
			
		}
		&_social {
			a {
				margin-left: 20px;
				margin-bottom: 20px;
				height: 100%;
				display: block;
				float: left;
				.no-touchevents &:hover,.touchevents &:active {
					opacity: 0.2;
				}
				&:first-child{
					margin-left: 0;
				}
			}
		}
		&_subj{
			font-size: 0.8571428571em; /*12px/14px*/
			margin-top: 30px;
		}
	}
}

/*POPUPS*/
/*call_free*/
.call_free {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 10;
	height: 300px;
	max-width: 450px;
	margin: 5% auto auto -225px;
	display: table;
	background-color: @bgck-grey;
	opacity: 1!important;
	padding: 35px 55px;
	display: none;
	&_background {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		background-color: @black;
		opacity: 0.70;
		z-index: 9;
		width: 100vw;
		height: 100%;
	}
	p {
		font-size: 1.1428571429em; /*16px/14px*/
		margin-bottom: 25px;
		span {
			.r-bold
		}
	}
	&_form {
		&_label {
			width: 8%;
		}
		&_input {
			background-color: @bgck-grey;
			border: none;
			width: 88%;
			&::-webkit-input-placeholder {
				color: @light-grey;
				font-size: 1.1428571429em; /*16px/14px*/
				.r-light;
			}
			&::-moz-placeholder {
				color: @light-grey;
				font-size: 1.1428571429em; /*16px/14px*/
				.r-light;
			}
			&:-moz-placeholder {
				color: @light-grey;
				font-size: 1.1428571429em; /*16px/14px*/
				.r-light;
			}
			&:-ms-input-placeholder {
				color: @light-grey;
				font-size: 1.1428571429em; /*16px/14px*/
				.r-light;
			} 
		}
		&_border {
			border-bottom: 1px solid @light-grey;
		}
		&_send {
			display: block;
			margin: 20px auto 0;
			background-color: @base-red;
			color: @white;
			.r-reg;
			font-size: 1.1428571429em; /*16px/14px*/
			border: none;
			padding: 10px 40px;
			.no-touchevents &:hover,.touchevents &:active {
				background-color: @logo-red;
			}
		}
	}
	&_close {
		position: absolute;
		top: 0;
		right: 0;
		background-color: @base-red;
		border: none;
		color: @white;
		font-size: 50px;
		.r-light;
		width: 55px;
		height: 55px;
		border-radius: 55px;
		margin: -27.5px -27.5px auto auto;
		p {
			display: block;
			line-height: 48px;
		}
		.no-touchevents &:hover,.touchevents &:active {
			background-color: @logo-red;
		}
	}
	&_thanks_text {
			font-size: 1.2em !important;
	}	
}
#call_free_thanks {
	display: none;
}
#call_free_form_thanks {
	margin-top: 45px;
}

/*MEDIAQUERIES*/
/*height*/
@media (max-height: 1350px) {
    .content_picture {
		background-position: 0 120px;
    }
}

@media (max-height: 400px) {
	.content_picture {
	    background-position: 0 0;
	    margin: -1px 0;
	    padding: 0;
	    background-size: cover;
	    background-position-x: right;
	}
}

/*width*/
@media (min-width: 0px) and (max-width: 480px) {
	.call_free {
		max-width: 90%;
		margin: 10% auto auto -45%;
		&_close {
			border-radius: 0;
			margin: 0;
		}
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	footer {
		.footer {
			&_name, &_phones, &_menu, &_subj {
				margin-top: 0;
				p {
					text-align: center;
				}
			}
			&_social {
				a {
					margin-bottom: 0;
				}
			}
		}
	}
	#action-and-sale, #popular_goods, #brands {
		margin:0 5%;
	}
	.main {
			padding-bottom: 0;
			&_search {
				margin-bottom: 30px;
			}
			&_info_short_phone {
				margin-bottom: 30px;
				a {
					display: table;
					margin: 0 auto;
				}
				p {
					font-size: 0.9em;
					line-height: 0.8em;
				}
			}
			&_info_short_time {
				font-size: 0.9em;
				line-height: 0.8em;
			}
			p {
				text-align: center;
			}
			// menu
			&_nav {
				clear: both;
				display: table;
				width: 100%;
				position: relative;
				margin: 30px 0 0;
				float: right;
				&_bar, .close_nav {
					color: @text-grey;
					display: block;
					background-color: @light-grey;
					width: 100%;
					height: 100%;
					.line {
						margin-right: 1.07143em;
					}
					p {
						text-align: left;
						padding: 1.07143em 0 1.07143em 1.07143em;
						margin: 0;
						text-transform: uppercase;
					}
					.no-touchevents &:hover,.touchevents &:active {
						color: @white;
						background-color: @light-grey;
						.line::before, .line::after {
							background-color: @white;
						}
					}
				}
				.close_nav {
					font-size: 1em;
					line-height: 20px;
					display: none;
					margin-top: 0;
					p {
						float: left;
					}
					span {
						float: right;
						font-size: 4em;
						display: table;
						padding-right: 14px;
						padding-top: 14px;
					}
				}
			}
			&_menu {
				display: none;
				position: relative;
				top: 0;
				width: 107%;
				background-color: @dark-grey;
				margin: 0 auto auto -15px;
				.pull-left {
					float: none !important;
				}
				li:first-child {
					margin-top: 0px;
				}
				ul {
					margin: 0;
				}
				&_item {
					width: 100% !important;
					border-right: none !important;
					height: 40px !important;
					a {
						padding:0 100px 0 1.07143em;
						text-align: left;
						font-size: 0.9em !important;
						line-height: 40px !important;
						.no-touchevents &:hover,.touchevents &:active {
							background-color: @base-red !important;
						}
						span {
							display: inline !important;
						}
						p {
							line-height: 40px !important;
							margin-top: 0 !important;
						}
					}
				}

			}
			// /menu
			// &_basket {	
			// 	    //width: 100%;
			// 	    padding: 5px 30px 5px 60px;
			// 	&_ico {
			// 		    margin-left: -55px;
			// 	}
			// 	&_name {
			// 		padding: 0;
			// 		margin: 0 20px 0 0;
			// 		display: none !important;
			// 		}
			// 	&_quantity {
			// 		margin: 2px 5px 0 20px;
			// 		bottom: 0;
			// 	}
			// }
	}
	.content_description_text {
		font-size: 1em;
		line-height: normal;
	}
	.content_picture {
	    background-position: 0 0;
	    margin: -1px 0;
	    padding: 0;
	    background-size: cover;
	    background-position-x: right;
	}
	.content .category ul {
	    font-size: 0.9em;
	}
	.content .category_item a {
	    padding: 0.7em 0 0.7em 1.07143em;
	}
	.fotorama {
		margin-top: 40px;
	}
	.category ul:last-child {
		a {
			border-bottom: 1px solid @bgck-grey!important;
		}
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	footer {
		.footer {
			&_name, &_phones, &_menu, &_subj_inform, &_social {
				display: block;
				margin: 0 auto 40px 0;
				padding: 0;
			}
			&_subj {
				margin: 0;
				div {
					padding: 0;
				}
				&_inform {
					margin: 0;
				}
			}
		}
	}
	#action-and-sale, #popular_goods, #brands {
		margin:0 5%;
	}
	// menu
	#main {
		.container {
			position: relative;
		}
	}
	.main {
		&_logo {
			img {
				margin-left: 0;
				width: 100%;
			}
		}
		&_logo, &_search {
			margin-bottom: 30px;
		}
		&_nav_bar {
			display: none !important;
		}
		&_info_short_phone {
			font-size: 0.9em;
		}
		&_menu {
			display: block !important;
			&_item {
				a {
					font-size: 1em !important;
				}
				p {
					position: relative;
					top: 0;
				}
			}

		}
		// /menu
		&_basket {
			    //width: 97%;
			    padding: 5px 15px 5px 60px;
			p {
				float: left;
			}
			&_ico {
				    margin-left: -75px;
			}
			&_name {
				padding: 0;
				margin: 0 20px 0 0;
				display: block;
			}
			&_quantity {
				margin-right: 20px;
				margin-top: 2px;
				bottom: 0;
			}
		}
	}
	.content_description_text {
		font-size: 1.4em;
		line-height: normal;
	}
	.content .category ul {
	    font-size: 0.9em;
	}
	.content .category_item a {
	    padding: 0.7em 0 0.7em 1.07143em;
	}

	.category ul:last-child {
			a {
				border-bottom: 1px solid @bgck-grey!important;
			}
		}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.main_nav_bar, .close_nav, .main_nav {
		display: none;
	}
	.main {
		&_logo img {
			width: 90%;
		}
		&_info_short {
			&_phone p, &_phone a, &_time p{
				font-size: 0.9em;
			}
		}
		&_basket {
			p {
				font-size: 0.9em;
			}
		}
	}
	.content .category ul {
	    font-size: 0.9em;
	}
	.content .category_item a {
	    padding: 0.8em 0 0.8em 1.07143em;
	}
}

@media (min-width: 1200px) {
	.main_nav_bar, .close_nav, .main_nav {
		display: none;
	}
}
@media all and (orientation: portrait) {
	.content_picture {
	    background-position: 0 0;
	    margin: -1px 0;
	    padding: 0;
	    background-size: cover;
	    background-position-x: right;
	}
}